/* Declaring color's variable */
:root {
    --primary:#0553B1;
    --accent: #C4720A;
    --blackText: #2C2C2C;
    --black: #000000;
    --white: #FFFFFF;
    --gray: #D2D3D5;
    --dark-gray: #9C9FA3;

}

/* Removes Browser's spacing , border box overflow */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setting Screen Width and Fonts */
body {
  font-family: 'Nunito', sans-serif;
  background: var(--white);
  color: var(--blackText);
  max-width: 390px;
  margin: 0 auto;
}

/* NAV */

.navbar {
  background: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}

.navbar a {
  color: white;
  text-decoration: none; 
  font-weight: 700;
  font-size: 16px;
}

.logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.cart-link {
  color: white;
  text-decoration: none;
}

.cart-link .material-icons {
  font-size: 28px;
}

/* HERO */
.hero {
  position: relative;
  width: 100%;
}

.hero-img {
  width: 100%;
  display: block;
}

.slogan-box {
  position: absolute;
  top: 35px;
  left: 16px;
  background: rgba(255,255,255,0.85);
  padding: 20px 12px;
  border-left: 7px solid var(--black);
}

.slogan-box p {
    font-weight: 800;
    font-size: 18px;
    color: var(--black)
}

/* CTA BUTTONS */
.cta-buttons {
  display: flex;
  gap: 12px;
  padding: 16px;
  background: var(--white);
  margin-top: -60px;
  position: relative;
  z-index: 1;
  margin-left: 16px;
  margin-right: 16px;
}

.cta-btn {
  flex: 1;
  background: var(--accent);
  color: var(--white);
  text-decoration: none;
  text-align: center;
  padding: 28px 20px;
  font-weight: 700;
  font-size: 15px;
}

/* Badges */
.trust-badges {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.badge {
  background: var(--primary);
  color: var(--white);
  padding: 24px 16px;
  text-align: center;
  position: relative;
  overflow: visible;
  margin-top: 35px;
}

.paw-icon {
  position: absolute;
  top: -55px;
  left: -55px;
  width: 120px;
  height: 120px;
}

.paw-right {
  top: -55px;
  right: -55px;
  left:auto;
  transform: scaleX(-1);

}

.badge-icon {
  font-size: 32px;
  margin-bottom: 12px;
}

.badge h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}
.badge p {
  font-size: 14px;
  line-height: 1.5;
}

/* Class sections */

.puppy-training, .dog-training{
    padding: 16px;
    background-color: var(--white);
    flex-direction: column;
    display: flex;
    min-height: 47vh;
}

.puppy-training{
    background-color: var(--gray);
}

.dog-training{
    background-color: var(--dark-gray);
}

.puppy-training p, .dog-training p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
}

.section-header{
    background-color: var(--white);
    padding: 12px 16px;
    font-size: 18px;
    font-weight: 700;
    margin: -16px -16px 12px -16px;
}


/* Horizontal scroll class container */
.classArea {
    display: flex;
    flex-direction: row;
    /* automatic scrollbar */
    overflow-x: auto;
    gap: 12px;
    padding-bottom: 12px;
    /* Hide scrollbar but keep scroll functional (firefox) */
    scrollbar-width: none;
    flex: 1;
    align-items: center;
}

/* Hide scrollbar from chrome and safari */
.classArea::-webkit-scrollbar{
    display: none
}
.class-card{
    background-color: var(--white);
    min-width: 250px;
    display: flex;
    flex-direction: column;
    height: 220px;
}

.class-card-top {
    display: flex;
    flex-direction: row;
    margin: 0  0  0  8px;
}

.card-content{
    flex: 1;
    padding: 10px;
}

.class-card img{
    width: 120px;
    height: 140px;
    /* same height across all cards */
    object-fit: cover;
    margin-top: 10px;
}

.class-card .level {
  font-size: 12px;
  color: var(--blackText);
  margin-bottom: 4px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.class-card h3 {
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 8px;
  color: var(--primary)
}

.class-card p {
  font-size: 11px;
  color: var(--blackText);
  margin-bottom: 2px;
}

.class-card button {
  margin-top: 8px;
  width: 100%;
  padding: 10px;
  background: var(--accent);
  color: var(--white);
  border: none;
  /* form element, browser apply auto font */
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 13px;
  /* indicate clickable */
  cursor: pointer;
  /* pushes the button to the atmost bottom of the card */
  margin-top: auto;
}